.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-backgroundImage{
  background-image: "url('images/image_1.jp')";
}

.App-headings {
  margin-top: 2%;
}

.App-card-coloring {
  color: #000;
}

.App-card{
  margin-left: 10px;
}

.App-navColor{
  color: white;
}




div[data-filter="cms"]{
  

}

div[data-filter="green"]{
  background:green;
}

div[data-filter="blue"]{
  background:blue;
}



li:focus[data-filter]{
    opacity:.8;
     outline:none;
}

li[data-filter="cms"]:focus ~ div:not([data-filter="cms"]){
  height:0px;
  width:0px;
  border:none;
  margin:0;
}

li[data-filter="green"]:focus ~ div:not([data-filter="green"]){
  height:0px;
  width:0px;
  border:none;
  margin:0;
}

li[data-filter="blue"]:focus ~ div:not([data-filter="blue"]){
  height:0px;
  width:0px;
  border:none;
  margin:0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
